/env

__pycache__/
.pytest_cache/
.vscode/

.module-cache
.sass-cache
.tmp
.DS_Store
local_settings.py

*.py[co]
*.pyc

project2/nothotdog/media
project2/nothotdog/static
project2/nothotdog/db.sqlite3
project2/nothotdog/node_modules
