label, input {
    display: block;
}
span.helptext {
    display: none;
}

ul li{
    display:inline-block;
}

/* Add a background color to the top navigation */
.topnav {
    background-color: #0b193c;
    overflow: hidden;
    position: relative;
  }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #23376b;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.index .index-btn {
  color: #0ccfff;
}

.index .profile-btn {
  color: #0ccfff;
}

.upload .upload-btn {
  color: #0ccfff;
}

.login .login-btn {
  color: #0ccfff;
}