$nothotdog-blue: #0ccfff;
$topbar-color: #0b193c;
$topbar-selected-color: #23376b;
$text-button-color: white;
$standard-font-size: 20px;
$title-font-size: 25px;

label, input {
    display: block;
}

span.helptext {
    display: none;
}

ul li {
    display:inline-block;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: $topbar-color;
  overflow: hidden;
  position: relative;

  /* Style the links inside the navigation bar */
  a {
    color: $text-button-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: $standard-font-size;
    line-height: 30px;
  }

  /* Change the color of links on hover */
  a:hover {
    background-color: $topbar-selected-color;
  }
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 10px;
}

.edit-button {
  padding: 5px;
  text-decoration: none;
  font-size: $standard-font-size;
  background-color: $nothotdog-blue;
  color: $text-button-color;
  border: none;
  margin: 4px 2px;
  position: absolute;
  right: 1%;
  top: 27%;
}

.upload_user {
  position: absolute;
  right: 1%;
}

.description {
  display: inline-block;
  width: 400px;
  font-weight: bold;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.index .index-btn {
  color: $nothotdog-blue;
}

.index .profile-btn {
  color: $nothotdog-blue;
}

.index .liked-btn {
  color: $nothotdog-blue;
}

.upload .upload-btn {
  color: $nothotdog-blue;
}

.login .login-btn {
  color: $nothotdog-blue;
}

.page-container {
  display: block;
  width: 86%;
  margin: 0 auto;
}

.page-container-photo {
  display: block;
  width: 16%;
  margin: 0 auto;
}

.title-container {
  overflow: hidden;
  position: relative;
  // border: 1px #cccccc solid;
}

.page-title {
  float: left;
  font-size: $title-font-size;
}

.pagination-container {
  overflow: hidden;
  position: relative;
  margin: 10px auto;
}

.pagination-links {
  font-weight: 700
}

// .page-container input {
//   margin: 10px auto;
//   display: block;
// }

.image-label {
  font-size: $standard-font-size;
}

img {
  border-radius: 2%;
}

figure {
  padding: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: auto;
}