:root {
  --nothotdog_blue: #0ccfff;
  --topbar_color: #0b193c;
  --topbar_selected_color: #23376b;
}

label, input {
    display: block;
}

span.helptext {
    display: none;
}

ul li {
    display:inline-block;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: var(--topbar_color);
  overflow: hidden;
  position: relative;
  }

/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--topbar_selected_color);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.edit-button {
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: var(--nothotdog_blue);
  color: white;
  border: none;
  margin: 4px 2px;
  position: absolute;
  right: 1%;
  top: 27%;
}

.upload_user {
  position: absolute;
  right: 1%;
}

.description {
  display: inline-block;
  width: 400px;
  font-weight: bold;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.index .index-btn {
  color: var(--nothotdog_blue);
}

.index .profile-btn {
  color: var(--nothotdog_blue);
}

.upload .upload-btn {
  color: var(--nothotdog_blue);
}

.login .login-btn {
  color: var(--nothotdog_blue);
}

.page-container {
  display: block;
  width: 86%;
  margin: 0 auto;
}

.page-container-photo {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.title-container {
  overflow: hidden;
  position: relative;
  // border: 1px #cccccc solid;
}

.page-title {
  float: left;
  font-size: 25px;
}

.pagination-container {
  overflow: hidden;
  position: relative;
  margin: 10px auto;
}

.pagination-links {
  font-weight: 700
}

// .page-container input {
//   margin: 10px auto;
//   display: block;
// }

.image-label {
  font-size: 20px;
}

img {
  border-radius: 2%;
}

figure {
  padding: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: auto;
}