{% extends "photos/base.html" %}

{% block bodyclass %}photo{% endblock %}

{% block content %}


<div class="page-container">
    <div id="likes-container">
        <!-- React will load here -->
    </div>

    <div id="test-container">
        <!-- React will load here -->
    </div>

    <div class="pagination-container">
        <div id="pagination">
            <!-- React will load here -->
        </div>
    </div>

    <div id="app">
        <!-- React will load here -->
    </div>
</div>

{% endblock %}