{% load static %}
{% load compress %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% compress css %}
            <link rel="stylesheet" href="{% static "style/main.scss" %}" type="text/x-scss" media="screen">
        {% endcompress %}
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    </head>

    <div class="topnav">
        <img src="{% static "images/logo.svg" %}" alt="!HotdogLogo" style="height:35px;" class="vertical-center">
        <div class="topnav-right">
            {% if index_view %}
                <a class="index-btn" href="{% url "photos:index" %}">Photos</a>
                <a href="{% url "photos:profile" %}">Profile</a>
            {% else %}
                <a href="{% url "photos:index" %}">Photos</a>
                <a class="profile-btn" href="{% url "photos:profile" %}">Profile</a>
            {% endif %}

            <a class="upload-btn" href="{% url "photos:upload" %}">Upload</a>

            {% if user.is_authenticated %}
                <a href="{% url "logout" %}">Log out</a>
            {% else %}
                <a class="login-btn" href="{% url "login" %}">Log in</a>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        var context = {
            currentUserID: '{{ user.id }}',
        };
    </script>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block content %}
        {% endblock %}

        {% compress js %}
            <script type="text/jsx" src="{% static "script/app.js" %}"></script>
            <script type="text/jsx" src="{% static "script/app_react.js" %}"></script>
        {% endcompress %}
    </body>
</html>
