{% extends 'photos/base.html' %}

{% block bodyclass %}index{% endblock %}

{% block content %}


{% if photos_list %}
    <form method="GET">
        <select name="paginate_by" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
        <input type="submit" value="Paginate">
    </form>

    <ul>
        {% for photo in photos_list %}
            <li>
                <figure>
                    <img src="{{ photo.image.url }}" alt="{{ photo.hashid }}" style="width:300px;height:200px;">
                    <figcaption><a href="{% url 'photos:photo' photo.hashid %}" style='font-size:30px'>{{ photo.title }}</a></figcaption>
                </figure>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?paginate_by={{ page_obj.paginator.per_page }}&page=1">&laquo; First</a>
                <a href="?paginate_by={{ page_obj.paginator.per_page }}&page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?paginate_by={{ page_obj.paginator.per_page }}&page={{ page_obj.next_page_number }}">Next</a>
                <a href="?paginate_by={{ page_obj.paginator.per_page }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% else %}
    <p>No photos are available.</p>
{% endif %}

{% endblock %}
