{% if photos_list %}
    <ul>
    {% for photo in photos_list %}
        <!-- <a href="/photos/{{photo.hashid}}"><button type="submit" onclick="clearCookie()">{{photo}}</button></a> -->
        <img src="{{ photo.image.url }}" alt="{{ photo.hashid }}">
        <br>
        <a href="/photos/{{photo.hashid}}" style='font-size:30px'>{{ photo.photo_title }}</a>
        <!-- <p><b style='font-size:30px'>{{ photo.photo_title }}</p> -->
    {% endfor %}
    </ul>
{% else %}
    <p>No photos are available.</p>
{% endif %}
