{% extends 'photos/base.html' %}

{% block content %}


{% if photos_list %}
    <ul>
    {% for photo in photos_list %}
        {% if user == photo.user %}
        <li>
            <figure>
                <img src="{{ photo.image.url }}" alt="{{ photo.hashid }}" style="width:300px;height:200px;">
                <figcaption><a href="{% url 'photo' photo.hashid %}" style='font-size:30px'>{{ photo.photo_title }}</a></figcaption>
            </figure>
        </li>
        {% endif %}
    {% endfor %}    
    </ul>
{% else %}
    <p>No photos are available.</p>
{% endif %}

{% endblock %}